
.div1{ position: relative;
    left: 40%;
    
}
.div2{
    position: relative;
    left: 40%
}
.div3{
    position: relative;
    left: 40%
}

.number1{
    background-color: red;
    
    
}
.number2{
    background-color: blue
}
.subsub{
    background-color: blue
}
.subsub2{
    background-color: red
}
.mulmul{
    background-color: red
}
.mulmul2{
    background-color: blue
}
.button{
    background-color: green
}